* {
  font-family: "Inter", sans-serif;
}

:root {
  --rock-color--red: #eb3300;
  --rock-color--brown: #2e2320;
  --animate-duration: 1.3s;
}

.rock-red {
  color: var(--rock-color--red);
}

.rock-bg-red {
  background-color: var(--rock-color--red);
  border: 3px solid var(--rock-color--red);
}

.rock-bg-red-hover:hover {
  border: 3px solid var(--rock-color--red);
  color: white !important;
}

.rock-bg-red-hover.inverse-text:hover {
  color: var(--rock-color--red) !important;
}

.rock-bg-brown {
  background-color: var(--rock-color--brown);
  border: 3px solid var(--rock-color--brown);
}

.rock-bg-brown-hover:hover {
  border: 3px solid var(--rock-color--brown);
  color: var(--rock-color--brown) !important;
}

.rock-bg-brown-inverted {
  border: 2px solid var(--rock-color--brown);
  color: var(--rock-color--brown) !important;
}

.rock-bg-brown-inverted-hover:hover {
  background-color: var(--rock-color--brown);
  color: white !important;
}

header .logo {
  max-width: 150px;
}

div#navbar.show ul.navbar-nav {
  background-color: var(--rock-color--red) !important;
  opacity: 0.9 !important;
}

.modal-dialog {
  max-width: 600px;
}

#hero {
  height: 100vh;
  max-height: 975px;
}

.hero-heading {
  opacity: 0;
  transform: translateY(-30px);
  color: white;
  background: linear-gradient(
    90deg,
    white 0%,
    white 30%,
    var(--rock-color--red) 40%,
    var(--rock-color--red) 60%,
    white 70%,
    white 100%
  );
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInDown 1s ease-in-out forwards,
    colorWave 2.5s ease-in-out 1.1s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorWave {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.fs-80 {
  font-size: clamp(2.3rem, 7vw, 5rem);
}

.fw-800 {
  font-weight: 800;
}

#serviceTimer {
  min-height: 30px;
}

.social-icon:hover,
.create-account-desktop:hover img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%)
    hue-rotate(346deg) brightness(104%) contrast(97%);
}

.create-account-desktop:hover button {
  color: var(--rock-color--red) !important;
}

.btn-custom--pink {
  backdrop-filter: blur(150px);
  border-style: inset;
  border: 2px rgba(255, 255, 255, 0.4) solid;
}

.btn-custom--white:hover {
  color: rgba(112, 106, 110, 1) !important;
  backdrop-filter: blur(150px);
}

.section-spacing {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#our_mission::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #ff2300;
  z-index: -1;
  opacity: 75%;
  border-radius: 20px;
}

#our_mission::before {
  content: "";
  position: absolute;
  top: -19px;
  height: 20px;
  width: 100%;
  background-color: white;
  left: 0;
  z-index: 2;
}

#plan_visit:after {
  content: "";
  position: absolute;
  left: 0;
  top: 80px;
  background-image: url("./images/Mask\ group.jpg");
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.modal input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.lh-1-3 {
  line-height: 1.3 !important;
}

img.arrow,
.half-circle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.half-circle {
  z-index: 1;
}

img.arrow {
  animation: arrow-spring 1s ease-in-out infinite;
}

@keyframes arrow-spring {
  0%,
  100% {
    transform: translate(-50%, 5px) scale(1);
  }
  50% {
    transform: translate(-50%, -3px) scale(1.1);
  }
}
.divider {
  width: 50px;
  background: black;
  height: 5px;
  top: 2rem;
}

.divider.divider-right {
  width: 5px;
  height: 50px;
  top: 32%;
  right: 5px;
}

#plan_visit {
  overflow: hidden;
}

.slide-content img {
  height: 467px !important;
  min-width: 240px;
}

.splide__slide {
  margin-right: 2rem;
}

.splide__track {
  overflow: visible;
}

.splide__arrow svg {
  fill: white;
}

.splide__arrow {
  background-color: var(--rock-color--red);
}

.splide__pagination {
  bottom: -3.5em;
}

.splide__pagination__page {
  width: 30px;
  height: 5px;
  border-radius: 0;
}

.splide__pagination__page.is-active {
  background: var(--rock-color--red);
  transform: scale(1);
}

#story .col-11.d-flex > div:nth-child(1),
#story .col-11.d-flex > div:nth-child(2),
#story .col-11.d-flex > div:nth-child(3) {
  max-width: 100%;
}

.footer-nav-heading {
  color: #828282;
  opacity: 0.6;
  letter-spacing: 2px;
}

.privacy-links {
  font-size: 0.8rem;
}

.privacy-links a:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background-color: #828282;
  left: -8px;
  top: 3px;
  opacity: 0.5;
}

@media screen and (max-width: 350px) {
  header .logo {
    max-width: 100px;
  }
}

@media screen and (min-width: 968px) {
  ul.navbar-nav,
  div#navbar.show ul.navbar-nav {
    background-color: rgba(255, 255, 255, 0.25) !important;
    z-index: -1;
  }
  /* nav animation effect */
  .nav-item.active a {
    color: #bdbdbd !important;
    font-weight: 500;
  }

  .nav-item:hover a {
    color: var(--rock-color--red) !important;
    transition: background-color 0.1s ease-in;
  }

  .nav-item:has(button):hover {
    background-color: var(--rock-color--red) !important;
    transition: background-color 0.1s ease-in;
  }

  header .logo {
    max-width: 225px;
  }

  #story .col-11.d-flex > div:nth-child(2) img {
    max-width: 489px;
    max-height: 458px;
    height: 100%;
    object-fit: cover;
  }

  #story .col-11.d-flex > div:nth-child(3) img {
    height: 194px;
    max-width: 207px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1400px) {
  .create-account-desktop {
    min-width: 226px;
  }

  #story .col-11.d-flex > div:nth-child(1) {
    max-width: 40%;
  }
  #story .col-11.d-flex > div:nth-child(2) {
    max-width: 40%;
  }
  #story .col-11.d-flex > div:nth-child(3) {
    max-width: 20%;
  }

  #story .col-11.d-flex > div:nth-child(2) img {
    max-width: 489px;
    max-height: 458px;
    height: 100%;
    object-fit: cover;
  }
  #story .col-11.d-flex > div:nth-child(3) img {
    height: 194px;
    max-width: 207px;
    object-fit: cover;
  }

  section#footer .social-icon {
    border: 1px solid black;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
